DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
NEXT_PUBLIC_SITE_NAME="REDFILM"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
ALLOHA_ENABLED="false"
ALLOHA_DOMAIN=""
ALLOHA_TOKEN=""
TMDB_API_KEY=""
KINPOISK_API_KEY=""

KINOPOISK_API_KEY=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-password
VIBIX_API_KEY=
VIBIX_PUBLISHER_ID=678353780
NEXT_PUBLIC_VIBIX_AD_TYPES=brand,sticker,pcsticker,banners,flyroll
CRON_SECRET=
